body {
  background-color: black;
  padding: 1rem;
}

a {
 color: red;
}

a.booking {
  float: right;
  margin-right: 0.5rem;
  color: red;
}

header {
  background-color: black;
  color: white;
  padding-left: 0.5rem;
}

h3.title{
  color: gray;
}

ul.nav {
  background-color: dimgrey;
  list-style-type: none;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding: 0rem;
  text-align: center;
  overflow: hidden;
}

ul.nav li {
  display: inline;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

ul.rates {
  display: block;
  padding: 0rem;
}

ul.rates li {
  list-style-type: none;
  border:
}

.nav a {
  display: inline-block;
  padding: 1rem;
}

article {
  margin-top: 0rem;
  padding-left: 0.5rem;
  background-color: white;
}

h2 {
  margin: 0rem 0rem 0rem 0rem;
  padding: 2rem 0rem 1rem 0rem;
}

p {
  margin: 0rem 0rem 0rem 0rem;
}

.jenny {
  margin-top: 1rem;
  padding-bottom: 17rem
}

aside {
  float: right;
  border: 0.1rem solid black;
  padding: 0.5rem;
  margin: 1rem 1rem 0rem 1rem;
  text-align: center;
  background-color: white;
}

footer {
  clear: both;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border-left: 1rem solid black;
  border-right: 1rem solid black;
}

.copyright {
  color: white;
  text-align: center;
}