a {
 color: red;
}

article {
  float: left;
  padding-left: 1rem;
  background-color: white;
}

body {
  background-color: black;
  margin-left: 2rem;
  margin-right: 2rem;
}

header {
  background-color: black;
  border-bottom: 1rem solid black;
  color: white;
  padding-left: 1rem;
}

.booking {
  float: right;
  margin-right: 3rem;
  color: red;
}

nav {
  background-color: dimgrey;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

/*p {
}*/

aside {
  /*position: absolute;
  top: 13rem;
  right: 2rem;*/
  float: right;
  border: 0.1rem solid red;
  margin-right: 1rem;
  text-align: center;
  margin-left: 30rem;
  background-color: white;
}

.catpic {
  color: black
}

li {
  text-decoration: none;
}

footer {
  clear: both;
  color: white
}

.copyright {
  color: white;
}

.mailto {
  color: red; 
}