body {
  background-color: white;
  margin-left: 2rem;
  margin-right: 2rem;
}

a {
 color: red;
}

a.booking {
  float: right;
  margin-right: 0.5rem;
  color: red;
}

/* Future Use */
/*a.top-cat {
}*/

header {
  background-color: black;
  color: white;
  border: 0.5rem solid black
}

h3.title{
  color: gray;
}

ul.nav {
  background-color: dimgrey;
  list-style-type: none;
  margin: 0rem;
  margin-top: 0rem;
  padding: 0rem;
  text-align: center;
  overflow: hidden;

}

ul.nav li {
  display: inline;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.nav a {
  display: inline-block;
  padding: 1rem;
}

aside {
  float: right;
  border: 0.1rem solid black;
  padding: 0.5rem;
  margin: 1rem 0rem 0rem 1rem;
  text-align: center;
  background-color: white;
}

article {
  padding-left: 0.5rem;
  margin-right: 50%;
}

footer {
  clear: both;
  color: white
}

.copyright {
  color: white;
}